body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #424242;
  font-size: 12px;
  background: url(../images/bg-noise.png);
  background-color: #ececec; }
  body:before {
    content: "";
    display: block;
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    height: 175px;
    width: 100%;
    background: #0c77f8;
    z-index: -1; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

p {
  cursor: default;
  font-weight: 600;
  font-size: 15px;
  margin: 0 0 5px; }

.semibold {
  font-weight: 600 !important; }

.optional {
  color: #e2e2e2; }

.left-panel {
  padding: 0;
  max-width: 660px; }

.right-panel {
  max-width: 555px; }

.row-width {
  max-width: 1125px;
  margin: 0 auto; }

.vcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn {
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer; }

button:hover, button:active, button:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17) !important;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17) !important; }

button:focus {
  -webkit-box-shadow: 0 0 0 0 transparent !important;
  box-shadow: 0 0 0 0 transparent !important; }

.btn-blue-white {
  background: #0c77f8;
  border-color: #fff;
  color: #fff; }
  .btn-blue-white:hover {
    background: #fff;
    color: #0c77f8; }

.btn-blue-effect {
  background: #0c77f8;
  color: #fff;
  border-color: #0c77f8; }
  .btn-blue-effect:hover, .btn-blue-effect:active, .btn-blue-effect:focus {
    background: #56a1fa !important;
    border: 2px solid #56a1fa !important; }

.btn-grey {
  background: #f5f5f5; }
  .btn-grey:hover {
    border: 2px solid #0c77f8;
    color: #0c77f8; }
  .btn-grey.btn-grey-active {
    color: #fff;
    background: #0c77f8; }

.btn-upload, #btn-review, .btn-guidelines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btn-upload i, #btn-review i, .btn-guidelines i {
    font-size: 16px !important;
    line-height: 18px !important;
    margin: 0 5px 0 0; }

#btn-publish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle; }
  #btn-publish i {
    margin: 0 0 0 5px;
    font-size: 15px !important; }

.btn-guidelines {
  color: #fff;
  background: #0c77f8; }

.white-block {
  margin: 15px 0;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
  line-height: 1.5 !important;
  font-size: inherit !important;
  vertical-align: middle !important; }

.checkbox-label {
  font-weight: 600;
  width: 100%;
  text-align: justify;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 15px 25px 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .checkbox-label span:nth-child(2) {
    margin: 0 0 0 30px; }
  .checkbox-label:hover input ~ .checkbox-checkmark {
    background: #0c77f8;
    border: 2px solid #0c77f8; }
    .checkbox-label:hover input ~ .checkbox-checkmark:after {
      border-color: #fff;
      display: block; }
  .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .checkbox-label input:checked ~ .checkbox-checkmark {
      border: 2px solid #0c77f8; }
      .checkbox-label input:checked ~ .checkbox-checkmark:after {
        display: block;
        opacity: 1; }
  .checkbox-label:hover > span {
    color: #424242 !important; }
  .checkbox-label .checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 2px solid #e2e2e2;
    border-radius: 4px; }
    .checkbox-label .checkbox-checkmark:after {
      content: "";
      position: absolute;
      display: none;
      opacity: 0;
      left: 8px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid #0c77f8;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear; }

.main-content-wrapper {
  padding: 20px 0; }

.content-headline .breadcrumbs {
  color: #fff; }
  .content-headline .breadcrumbs p {
    font-size: 20px;
    margin: 0 0 5px; }
  .content-headline .breadcrumbs a, .content-headline .breadcrumbs a:hover, .content-headline .breadcrumbs a:focus, .content-headline .breadcrumbs a:active {
    color: #fff;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle; }

.content-headline .review-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.template-view .template-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .template-view .template-buttons button:nth-child(1) {
    margin: 0 7px 0 0; }
  .template-view .template-buttons button {
    padding: .3rem 1rem; }

.template-view .file-views {
  margin: 15px 0 0;
  display: none; }
  .template-view .file-views.file-views-visible {
    display: block; }
  .template-view .file-views ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600; }
    .template-view .file-views ul li:not(:first-child) {
      border-left: 2px solid #f5f5f5; }
    .template-view .file-views ul a {
      color: #424242;
      display: block;
      margin: 0 5px 0;
      border-bottom: 2px solid transparent; }
      .template-view .file-views ul a:hover {
        text-decoration: none;
        color: #0c77f8;
        border-bottom: 2px solid #0c77f8; }
      .template-view .file-views ul a.file-view-active {
        border-bottom: 2px solid #0c77f8; }

.template-view .canvas-wrapper {
  position: relative;
  margin: 15px auto 0;
  max-width: 600px;
  width: 100%; }

.template-view #view-screen {
  max-width: 600px;
  background: #f5f5f5;
  border-radius: 5px; }
  .template-view #view-screen:before {
    content: "";
    display: block;
    padding-top: 100%; }

.template-view .mockup-view-wrapper {
  display: none;
  margin: 10px auto 0;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 650px; }
  .template-view .mockup-view-wrapper.mockup-view-wrapper-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .template-view .mockup-view-wrapper .mockup-view {
    display: inline-block;
    width: calc((100% - 30px)*1/4);
    max-width: 155px;
    background: #f5f5f5;
    margin: 0 0 10px 10px; }
    .template-view .mockup-view-wrapper .mockup-view:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .template-view .mockup-view-wrapper .mockup-view:nth-child(4n+1) {
      margin: 0 0 10px; }
  .template-view .mockup-view-wrapper#mockup-generator-view {
    margin: 10px auto; }
    .template-view .mockup-view-wrapper#mockup-generator-view .mockup-view {
      max-width: 122px;
      width: calc((100% - 40px)*1/5);
      margin: 0 0 0 10px; }
      .template-view .mockup-view-wrapper#mockup-generator-view .mockup-view:first-child {
        margin: 0; }

.view-controls {
  padding: 10px 0 0 0;
  background: #fff;
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .view-controls.view-controls-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .view-controls .range-container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .view-controls .view-zoom {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #424242;
    background: #fff;
    height: 20px;
    width: 20px;
    cursor: pointer; }
    .view-controls .view-zoom:hover {
      border-color: #0c77f8; }
      .view-controls .view-zoom:hover:before, .view-controls .view-zoom:hover:after {
        background: #0c77f8; }
    .view-controls .view-zoom:before, .view-controls .view-zoom:after {
      content: "";
      display: block;
      position: absolute;
      background: #424242; }
  .view-controls .zoom-in:before {
    top: 20%;
    left: 50%;
    width: 2px;
    height: 60%;
    margin-left: -1px; }
  .view-controls .zoom-in:after {
    top: 50%;
    left: 20%;
    width: 60%;
    height: 2px;
    margin-top: -1px; }
  .view-controls .zoom-out:after {
    top: 50%;
    left: 20%;
    width: 60%;
    height: 2px;
    margin-top: -1px; }
  .view-controls .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 92%;
    margin: 0 10px;
    height: 3px;
    border-radius: 5px;
    background: #424242;
    outline: none;
    opacity: 1; }
  .view-controls .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0c77f8;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.2); }
  .view-controls .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #0c77f8;
    cursor: pointer; }
  .view-controls .btn-view-align {
    position: relative;
    margin: 0 0 0 10px;
    height: 35px;
    width: 35px;
    border: 2px solid #f5f5f5; }
    .view-controls .btn-view-align:nth-child(3) {
      margin: 0 10px 0 10px; }
    .view-controls .btn-view-align:hover {
      border-color: #0c77f8; }
    .view-controls .btn-view-align:active {
      background: #0c77f8; }
      .view-controls .btn-view-align:active i {
        color: #fff; }
    .view-controls .btn-view-align i {
      position: absolute;
      font-size: 25px !important;
      top: -3px;
      left: 3px; }
  .view-controls #align-h i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .view-controls #reset:active {
    background: #0c77f8;
    color: #fff; }

.divider {
  width: 100%;
  height: 2px;
  background: #f5f5f5;
  margin: 10px 0; }

.product-headline {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }
  .product-headline:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    height: 20px;
    width: 2px;
    background: #0c77f8; }
  .product-headline p {
    margin: 0; }
  .product-headline span {
    color: #0c77f8; }

.product-option-caption {
  display: block;
  position: relative;
  padding: 0 0 0 25px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize; }
  .product-option-caption:after {
    display: block;
    height: 12px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0; }

.product-option-caption:after {
  content: url(../images/size-range.svg); }

.size-range .size-range-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.size-range .size-range-label {
  font-weight: 600;
  width: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 0 15px 35px 0; }
  .size-range .size-range-label span:nth-child(2) {
    margin: 0; }
  .size-range .size-range-label .size-checkmark {
    position: absolute;
    top: 15px;
    left: 0; }
  .size-range .size-range-label input:checked ~ span {
    color: #0c77f8; }

.uploads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }
  .uploads .btn-upload {
    color: #fff;
    background: #0c77f8;
    position: absolute;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
    bottom: 10%; }
  .uploads .upload-file {
    width: 47%;
    margin: 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    height: auto; }
    .uploads .upload-file:nth-child(5), .uploads .upload-file:nth-child(6) {
      margin: 0; }
    .uploads .upload-file p {
      font-size: 15px;
      font-weight: 600;
      margin: 0; }
      .uploads .upload-file p span {
        color: #e2e2e2; }
    .uploads .upload-file .upload-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      border: 2px dashed #e2e2e2; }
      .uploads .upload-file .upload-wrapper .upload-svg-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 20%;
        margin: 0 auto; }
        .uploads .upload-file .upload-wrapper .upload-svg-wrapper img {
          width: 50%;
          margin: 0 auto; }
    .uploads .upload-file .upload-inner {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .uploads .upload-file:last-child img {
      width: 40% !important; }

.stringcolor-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear; }
  .stringcolor-wrapper label {
    margin: 0 25px 0 0;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    line-height: 19px;
    padding: 0 0 0 25px;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
    .stringcolor-wrapper label:hover > span {
      color: #0c77f8 !important; }
    .stringcolor-wrapper label input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
  .stringcolor-wrapper label input:checked ~ .checkmark:after {
    display: block;
    opacity: 1; }
  .stringcolor-wrapper .checkmark {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #e2e2e2; }
    .stringcolor-wrapper .checkmark:after {
      content: "";
      position: absolute;
      -webkit-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
      opacity: 0;
      border-radius: 50%;
      top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      background: #0c77f8; }
  .stringcolor-wrapper input[type="radio"]:checked ~ * {
    color: #0c77f8 !important; }

.stitching .product-option-caption:after {
  content: url(../images/stitching.svg);
  width: 15px; }

.drawstring .product-option-caption:after {
  content: url(../images/drawstring.svg);
  width: 15px; }

.print-guidelines {
  text-align: center; }
  .print-guidelines p:first-child {
    font-weight: 600;
    font-size: 15px; }
  .print-guidelines p {
    font-size: 13px;
    font-weight: 500;
    text-align: left; }
  .print-guidelines button {
    margin: 0 auto; }

.shipping-wrapper {
  width: 100%; }
  .shipping-wrapper > p i {
    font-size: 20px !important; }
  .shipping-wrapper .shipping-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .shipping-wrapper .shipping-country {
    min-width: 120px;
    height: 40px;
    margin: 0 0 3px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-right: 3px solid #fff;
    padding: 0 0 0 45px; }
    .shipping-wrapper .shipping-country p {
      vertical-align: middle;
      margin: 0; }
  .shipping-wrapper .shipping-cost {
    width: 100%;
    display: inline-block;
    margin: 0 0 3px 0;
    background: #e2e2e2;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 0 10px; }
    .shipping-wrapper .shipping-cost p {
      margin: 0; }
      .shipping-wrapper .shipping-cost p i {
        font-weight: 500; }
  .shipping-wrapper #shipping-usa {
    background: url(../images/flag-usa.svg) no-repeat, #e2e2e2;
    background-size: 32px;
    background-position: 4px 4px; }
  .shipping-wrapper #shipping-europe {
    background: url(../images/flag-europe.svg) no-repeat, #e2e2e2;
    background-size: 32px;
    background-position: 4px 4px; }
  .shipping-wrapper #shipping-rotw {
    background: url(../images/flag-rotw.svg) no-repeat, #e2e2e2;
    background-size: 32px;
    background-position: 4px 4px; }

input {
  outline: none;
  border-color: #e2e2e2;
  font-family: 'Montserrat', sans-serif; }

.input-style {
  border-radius: 2rem;
  outline: none;
  border: 2px solid #e2e2e2;
  padding: 8px 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .input-style::-webkit-input-placeholder {
    color: #e2e2e2; }
  .input-style:active, .input-style:focus {
    border-color: #0c77f8;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }

.calc-profit {
  text-align: left;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.input-profit {
  position: relative; }
  .input-profit:after {
    content: "$";
    display: block;
    position: absolute;
    top: 12px;
    left: 25px;
    font-weight: 600;
    font-size: 14px;
    color: #424242; }

.input-margin {
  margin: 0 0 10px; }

#selling-price {
  width: 110px;
  padding: 10px 15px 10px 40px;
  position: relative;
  color: #0c77f8;
  font-weight: 600; }
  #selling-price::-webkit-inner-spin-button, #selling-price::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #selling-price:active, #selling-price:focus {
    border: 2px solid #0c77f8; }

.product-profit {
  color: #0c77f8; }

.terms label span {
  font-size: 14px;
  font-weight: 500; }

.fr-box {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 0 0 10px; }
  .fr-box .fr-placeholder {
    padding: 0 0 0 10px; }
  .fr-box .fr-counter, .fr-box .fr-tooltip {
    display: none !important; }
  .fr-box .fr-wrapper {
    min-height: 200px;
    padding: 0 10px 10px 10px; }
  .fr-box .fr-btn:hover, .fr-box .fr-btn:active, .fr-box .fr-btn:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    -webkit-box-shadow: 0 0 0 0 transparent !important;
    box-shadow: 0 0 0 0 transparent !important; }
  .fr-box .fr-toolbar {
    padding: 5px 0 0 10px !important; }

.fr-box:active .fr-toolbar, .fr-box:active .fr-wrapper, .fr-box:focus .fr-toolbar, .fr-box:focus .fr-wrapper {
  border-color: #0c77f8 !important;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.product-select-container {
  max-width: 282px; }
  .product-select-container:nth-child(n) {
    padding-left: 0; }
  .product-select-container:not(:last-child) {
    padding: 0 15px 0 0; }

.product-select {
  padding: 15px; }
  .product-select.white-block {
    margin: 15px 0 0 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .product-select.white-block:hover {
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      -webkit-box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 3px 20px 3px rgba(0, 0, 0, 0.2); }
  .product-select p {
    margin: 0; }
  .product-select .product-headline:before {
    left: -15px; }
  .product-select .product-shipping-wrapper {
    margin: 5px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product-select .product-shipping-wrapper .product-shipping-country {
      width: 32%;
      text-align: center; }
      .product-select .product-shipping-wrapper .product-shipping-country:not(:first-child) {
        margin: 0 0 0 2%;
        position: relative; }
        .product-select .product-shipping-wrapper .product-shipping-country:not(:first-child):before {
          content: "";
          display: block;
          height: 80%;
          width: 2px;
          background: #f5f5f5;
          position: absolute;
          top: 10%;
          left: 0; }
      .product-select .product-shipping-wrapper .product-shipping-country img {
        max-width: 30px; }
      .product-select .product-shipping-wrapper .product-shipping-country p {
        margin: 0;
        font-size: 15px;
        font-weight: 600; }
        .product-select .product-shipping-wrapper .product-shipping-country p.cost-not-available {
          font-style: italic;
          font-weight: 500;
          color: #e2e2e2; }
  .product-select .price-including-shipping {
    background: #e2e2e2;
    width: 100%;
    text-align: center;
    border-radius: 2rem; }
    .product-select .price-including-shipping p {
      font-size: 12px;
      line-height: 1;
      font-weight: 600;
      margin: 0; }
    .product-select .price-including-shipping i {
      font-size: 17px !important;
      line-height: 1 !important; }
  .product-select .product-select-size-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-select .product-select-size-wrapper img {
      width: 18px;
      margin: 0 5px 0 0; }
    .product-select .product-select-size-wrapper .product-select-size span {
      font-weight: 700; }

.product-select-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-select-buttons-wrapper a:last-of-type {
    margin: 0 0 0 5px;
    width: 100%; }
  .product-select-buttons-wrapper .btn-start-design {
    width: 100%;
    height: 100%; }
    .product-select-buttons-wrapper .btn-start-design i {
      font-size: 14px !important;
      line-height: 16px !important;
      margin: 0 0 0 5px; }
  .product-select-buttons-wrapper .btn-info {
    position: relative;
    height: 38px;
    width: 38px; }
    .product-select-buttons-wrapper .btn-info i {
      font-size: 20px !important;
      margin: 0;
      line-height: 39px !important;
      position: absolute;
      top: -2px;
      left: 7px; }

@media screen and (min-width: 1200px) {
  #selling-price {
    margin: 0 10px 0; } }

@media screen and (max-width: 1200px) {
  #selling-price {
    margin: 0 10px 0; }
  .stringcolor-wrapper label {
    margin: 0 10px 0 0; }
  .btn-upload {
    font-size: 10px !important;
    padding: 0.3rem 0.6rem !important;
    bottom: 20px;
    max-width: 140px; }
    .btn-upload i {
      font-size: 12px !important;
      line-height: 14px !important; }
  .uploads .upload-file p {
    font-size: 12px; }
  .product-select-buttons-wrapper .btn-start-design {
    font-size: 10px !important; }
    .product-select-buttons-wrapper .btn-start-design i {
      font-size: 12px !important;
      line-height: 14px !important; } }

@media screen and (max-width: 992px) {
  .btn-upload {
    font-size: 9px !important;
    padding: 0.3rem 0.6rem !important;
    bottom: 20px; }
    .btn-upload i {
      font-size: 12px !important;
      line-height: 14px !important; }
  .uploads .upload-file p {
    font-size: 12px; }
  .uploads .upload-file .upload-wrapper .upload-svg-wrapper img {
    width: 50%; }
  .stringcolor-wrapper label {
    margin: 0 10px 0 0; }
  .shipping-wrapper .shipping-country {
    max-width: 130px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .calc-profit .input-profit {
    margin: 10px auto 0; }
  .calc-profit #selling-price {
    margin: 0 0 10px; }
  .calc-profit #profit-text {
    margin: 0 auto; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .calc-profit .input-profit {
    margin: 10px auto 0; }
  .calc-profit #selling-price {
    margin: 0 0 10px; }
  .calc-profit #profit-text {
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  .right-panel, .left-panel {
    max-width: 100%; }
  .left-panel {
    padding-right: 15px; }
  .file-views li:nth-child(6) {
    border: none !important; }
  .stringcolor-wrapper label {
    margin: 0 10px 10px 0; }
  .shipping-wrapper .shipping-country {
    max-width: 110px;
    min-width: 110px; }
    .shipping-wrapper .shipping-country p {
      font-size: 13px; }
  .shipping-wrapper .shipping-cost p {
    font-size: 13px; }
  .white-block.template-view, .white-block.terms {
    margin: 15px 0 0 0 !important; }
  .product-select-buttons-wrapper .btn-start-design {
    font-size: 12px !important; }
    .product-select-buttons-wrapper .btn-start-design i {
      font-size: 14px !important;
      line-height: 16px !important; } }

@media screen and (width: 600px) and (height: 960px) {
  .view-controls {
    margin: 10px 0 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .view-controls.view-controls-visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
      flex-flow: wrap; }
    .view-controls .range-container {
      width: 100%;
      margin: 0 0 10px; }
    .view-controls .btn-view-align {
      margin: 0 0 0 0; }
  .template-view .template-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .template-view .template-buttons button:nth-child(1) {
      margin: 0 10px 0 0; }
    .template-view .template-buttons button, .template-view .template-buttons .btn {
      padding: .3rem 0.7rem; }
  .file-views li:nth-child(4) {
    border: none !important;
    margin: 0; }
  .file-views li:nth-child(6) {
    border-left: 2px solid #f5f5f5 !important; }
  .uploads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .uploads .upload-file {
      width: 49%;
      margin: 0 0 0; }
    .uploads .btn-upload {
      font-size: 7px !important;
      padding: 0.2rem 0.2rem !important;
      max-width: 120px; }
      .uploads .btn-upload i {
        font-size: 10px !important;
        line-height: 12px !important;
        margin: 0 2px 0 0; }
  .calc-profit .input-profit {
    margin: 10px auto 0; }
  .calc-profit #selling-price {
    margin: 0 0 10px; }
  .calc-profit #profit-text {
    margin: 0 auto; }
  .shipping-wrapper p {
    font-size: 10px; }
  .shipping-wrapper .shipping-country {
    max-width: 90px;
    min-width: 90px; }
    .shipping-wrapper .shipping-country p {
      font-size: 10px; }
  .shipping-wrapper .shipping-cost p {
    font-size: 10px; }
  .btn-guidelines {
    font-size: 11px !important; }
    .btn-guidelines i {
      font-size: 12px !important; } }

@media screen and (max-width: 576px) {
  .left-panel, .right-panel, .container-fluid {
    padding-right: 0px;
    padding-left: 0px; }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; }
  .file-views li:nth-child(6) {
    border-left: 2px solid #f5f5f5 !important; }
  .uploads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .uploads .upload-file {
      width: 49%;
      margin: 0 0 0; }
  .stringcolor-wrapper label {
    margin: 0 20px 0 0; }
  .shipping-wrapper .shipping-country {
    max-width: 110px;
    min-width: 130px; }
    .shipping-wrapper .shipping-country p {
      font-size: 15px; }
  .shipping-wrapper .shipping-cost p {
    font-size: 15px; }
  #product-selector-content .row-width {
    padding: 0 0 0 10px; } }

@media screen and (max-width: 480px) {
  .btn, #btn-review, #btn-publish {
    font-size: 11px !important; }
    .btn i, #btn-review i, #btn-publish i {
      font-size: 12px !important; }
  #btn-review i {
    margin: 0; }
  .content-headline .breadcrumbs p {
    font-size: 15px; }
  .file-views li:nth-child(6) {
    border: none !important;
    margin: 0; }
  .file-views li:nth-child(6) {
    margin: 0; }
  #product-selector-content .row-width {
    padding: 0 0 0 0; }
  #product-selector-content .content-headline .breadcrumbs {
    text-align: center; } }

@media only screen and (max-width: 426px) {
  .content-headline .breadcrumbs {
    margin: 0 0 15px; }
  .file-views li:nth-child(5) {
    border: none !important;
    margin: 0; }
  .file-views li:nth-child(6) {
    border-left: 2px solid #f5f5f5 !important; }
  .view-controls {
    margin: 10px 0 0 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .view-controls.view-controls-visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
      flex-flow: wrap; }
    .view-controls .range-container {
      width: 100%;
      margin: 0 0 10px; }
    .view-controls .btn-view-align {
      margin: 0 0 0 0; }
  #product-selector-content .content-headline .breadcrumbs {
    margin: 0; }
  .product-select-container:nth-child(n) {
    padding-left: 0; }
  .product-select-container:not(:last-child), .product-select-container:last-child {
    padding: 0 0 0 0; }
  .product-select .product-shipping-wrapper .product-shipping-country p {
    font-size: 12px !important; } }

@media only screen and (max-width: 384px) {
  .file-views li {
    margin: 0 0 5px; }
    .file-views li:nth-child(5) {
      border-left: 2px solid #f5f5f5 !important; }
  .btn-upload, #btn-review, #btn-publish {
    font-size: 10px !important;
    padding: 0.3rem 0.6rem !important;
    bottom: 25px; }
    .btn-upload i, #btn-review i, #btn-publish i {
      font-size: 12px !important;
      line-height: 14px !important; }
  .uploads .upload-file p {
    font-size: 12px; }
  .uploads .upload-file .upload-wrapper .upload-svg-wrapper img {
    width: 50%; }
  .template-view .template-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .template-view .template-buttons button:nth-child(1) {
      margin: 0 10px 0; }
    .template-view .template-buttons button, .template-view .template-buttons .btn {
      padding: .3rem 0.7rem; }
  .calc-profit .input-profit {
    margin: 10px auto 0; }
  .calc-profit #selling-price {
    margin: 0 0 10px; }
  .calc-profit #profit-text {
    margin: 0 auto; }
  .stringcolor-wrapper label {
    margin: 0 10px 10px 0; }
  .product-select-buttons-wrapper .btn-start-design {
    font-size: 12px !important; }
    .product-select-buttons-wrapper .btn-start-design i {
      font-size: 12px !important;
      line-height: 14px !important; }
  .product-select .product-select-size-wrapper .product-select-size {
    font-size: 12px !important; }
  .product-select .price-including-shipping p {
    font-size: 12px; }
    .product-select .price-including-shipping p i {
      font-size: 14px !important;
      line-height: 16px !important; } }

@media only screen and (max-width: 360px) {
  .uploads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .uploads .upload-file {
      width: 49%;
      margin: 0 0 0; }
    .uploads .btn-upload {
      font-size: 8px !important;
      padding: 0.3rem 0.4rem !important;
      max-width: 130px; }
      .uploads .btn-upload i {
        font-size: 10px !important;
        line-height: 12px !important;
        margin: 0 2px 0 0; }
  .stringcolor-wrapper label {
    margin: 0 10px 10px 0; } }

@media only screen and (max-width: 320px) {
  .template-view .template-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .template-view .template-buttons button:nth-child(1) {
      margin: 0 10px 10px; }
    .template-view .template-buttons button, .template-view .template-buttons .btn {
      padding: .3rem 0.7rem; }
  .template-view .file-views ul li a {
    font-size: 10px; }
  .uploads {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .uploads .upload-file {
      width: 49%;
      margin: 0 0 0; }
    .uploads .btn-upload {
      font-size: 8px !important;
      padding: 0.2rem 0.3rem !important;
      max-width: 140px; }
      .uploads .btn-upload i {
        font-size: 10px !important;
        line-height: 12px !important;
        margin: 0 2px 0 0; }
  .stringcolor-wrapper label {
    margin: 0 5px 10px 0; }
  .template-view .mockup-view-wrapper {
    display: none;
    margin: 10px auto 0; }
    .template-view .mockup-view-wrapper.mockup-view-wrapper-visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .template-view .mockup-view-wrapper .mockup-view {
      display: inline-block;
      margin: 0 0 10px;
      width: calc((100% - 10px)*1/2) !important; }
      .template-view .mockup-view-wrapper .mockup-view:nth-child(odd) {
        margin: 0 10px 10px 0 !important; }
      .template-view .mockup-view-wrapper .mockup-view:nth-child(even) {
        margin: 0 0 10px 0 !important; }
  .shipping-wrapper .shipping-country {
    max-width: 100px;
    min-width: 100px; }
    .shipping-wrapper .shipping-country p {
      font-size: 13px; }
  .shipping-wrapper .shipping-cost p {
    font-size: 13px; }
  #btn-publish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    font-size: 9px !important; }
    #btn-publish i {
      margin: 0 0 0 5px;
      font-size: 12px !important; } }
