@import "mixins";

@media screen and (min-width: 1200px){
        #selling-price{
            margin: 0 10px 0;
        }
}
@media screen and (max-width: 1200px){
    #selling-price{
            margin: 0 10px 0;
    }
    .stringcolor-wrapper{
        label{
            margin: 0 10px 0 0;
        }
    }
    .btn-upload{
        font-size: 10px!important;
        padding: .3rem 0.6rem!important;
        bottom: 20px;
        max-width: 140px;
        i{
            font-size: 12px!important;
            line-height: 14px!important;
        }
    }
    .uploads{
        .upload-file{
            p{
                font-size: 12px;
            }
            .upload-wrapper{
                .upload-svg-wrapper{
//                    margin: 0 0 50px;
                }
            }
        }

    }
}
@media screen and (max-width: 992px){
    .btn-upload{
        font-size: 9px!important;
        padding: .3rem 0.6rem!important;
        bottom: 20px;
        i{
            font-size: 12px!important;
            line-height: 14px!important;
        }
    }
    .uploads{
        .upload-file{
            p{
                font-size: 12px;
            }
            .upload-wrapper{
                .upload-svg-wrapper{
//                    margin: 0 0 50px;
                    img{
                        width: 50%;
                    }
                }
            }

        }
    }
    .stringcolor-wrapper{
        label{
            margin: 0 10px 0 0;
        }
    }
    ///////generator
    .shipping-wrapper{
    .shipping-country{
        max-width: 130px;
        }
    }
}
/////////tablets
//////////iPad & Kindle
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .calc-profit{
        .input-profit{
            margin: 10px auto 0;
        }
        #selling-price{
            margin: 0 0 10px;
        }
        #profit-text{
            margin: 0 auto;
        }
    }
        
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .calc-profit{
        .input-profit{
            margin: 10px auto 0;
        }
        #selling-price{
            margin: 0 0 10px;
        }
        #profit-text{
            margin: 0 auto;
        }
    }
        
}
////////
@media screen and (max-width: 768px){
    .file-views{
        li{
            &:nth-child(6){
                border: none!important;
            }
        }
    }
    .stringcolor-wrapper{
        label{
            margin: 0 10px 10px 0;
        }
    }
    ///////generator
    .shipping-wrapper{
        .shipping-country{
            max-width: 110px;
            min-width: 110px;
            p{ font-size: 13px;}
        }
        .shipping-cost{
            p{
                font-size: 13px;
            }
        }
    }
}
////////
@media screen and (width: 600px)	
    and (height: 960px){
    .view-controls{
        margin: 10px 0 0 0;
        &.view-controls-visible{
            display: flex;
            flex-flow: wrap;
        }
        justify-content: center;
        .range-container {
            width: 100%;
            margin: 0 0 10px;
        }
        .btn-view-align{
            margin: 0 0 0 0;
        }
    }
     .template-view{
        .template-buttons{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            button:nth-child(1){
                margin: 0 10px 0 0;
            }
            button, .btn{
                padding: .3rem 0.7rem;
            }
             }
        }  
    .file-views{
        li{
            &:nth-child(4){
                border: none!important;
                margin: 0;
            }
            &:nth-child(6){
                border-left: 2px solid $lightGrey!important;
            }
        }
    }
    .uploads{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        .upload-file{
            width: 49%;
            margin: 0 0 0;
        }
            .btn-upload{
            font-size: 7px!important;
            padding: .2rem 0.2rem!important;
            max-width: 120px;
            i{
                font-size: 10px!important;
                line-height: 12px!important;
                margin: 0 2px 0 0;
            }
        }
    }
    .calc-profit{
        .input-profit{
            margin: 10px auto 0;
        }
        #selling-price{
            margin: 0 0 10px;
        }
        #profit-text{
            margin: 0 auto;
        }
    }
    .shipping-wrapper{
        p{
            font-size: 10px;
        }
        .shipping-country{
            max-width: 90px;
            min-width: 90px;
            p{ font-size: 10px;}
        }
        .shipping-cost{
            p{
                font-size: 10px;
            }
        }
    }
    .btn-guidelines{
        font-size: 11px!important;
        i{
            font-size: 12px!important;
        }
    }
    	
}
@media screen and (max-width: 606px){
    
}
////////
@media screen and (max-width: 576px){
    .left-panel{
        padding-right: 15px;
    }
    .white-block.template-view, .white-block.terms {
        margin: 20px 0 0 0!important;
    }
    .file-views{
        li{
            &:nth-child(6){
                border-left: 2px solid $lightGrey!important;
            }
        }
    }
    .uploads{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        .upload-file{
            width: 49%;
            margin: 0 0 0;
        }
    }
    .stringcolor-wrapper{
        label{
            margin: 0 20px 0 0;
        }
    }
    //////////generator
    .shipping-wrapper{
        .shipping-country{
            max-width: 110px;
            min-width: 130px;
            p{ font-size: 15px;}
        }
        .shipping-cost{
            p{
                font-size: 15px;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .btn, #btn-review, #btn-publish{
        font-size: 11px!important;
        i{
            font-size: 12px!important;
        }
    }
    #btn-review{
        i{
            margin: 0;
        }
    }
    .content-headline .breadcrumbs p{
        font-size: 15px;
    }   
    .file-views{
        li{
//            margin: 0 0 10px;
            &:nth-child(6){
                border: none!important;
                margin: 0;
            }
            &:nth-child(6){
                margin: 0;
            }
        }
    }
}

//////mobiles
@media only screen and (max-width: 426px){
    .content-headline .breadcrumbs{
        margin: 0 0 15px;
    }
    .file-views{
        li{
            &:nth-child(5){
                border: none!important;
                margin: 0;
            }
            &:nth-child(6){
                border-left: 2px solid $lightGrey!important;
            }
        }
    }
    .view-controls{
        margin: 10px 0 0 0;
        &.view-controls-visible{
            display: flex;
            flex-flow: wrap;
        }
        justify-content: center;
        .range-container {
            width: 100%;
            margin: 0 0 10px;
        }
        .btn-view-align{
            margin: 0 0 0 0;
        }
    }
   
}
@media only screen and (max-width: 384px){
    .file-views{
        li{
            margin: 0 0 5px;
            &:nth-child(5){
                border-left: 2px solid $lightGrey!important;
            }
        }
    }
    .btn-upload, #btn-review, #btn-publish{
        font-size: 10px!important;
        padding: .3rem .6rem!important;
        bottom: 25px;
        i{
            font-size: 12px!important;
            line-height: 14px!important;
        }
    }
    .uploads{
        .upload-file{
            p{
                font-size: 12px;
            }
            .upload-wrapper{
                .upload-svg-wrapper{
//                    margin: 0 0 50px;
                    img{
                        width: 50%;
                    }
                }
            }

        }
    }
    /////////generator
    .calc-profit{
        .input-profit{
            margin: 10px auto 0;
        }
        #selling-price{
            margin: 0 0 10px;
        }
        #profit-text{
            margin: 0 auto;
        }
    }
}
@media only screen and (max-width: 360px){
    .template-view{
        .template-buttons{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            button:nth-child(1){
                margin: 0 10px 0 0;
            }
            button, .btn{
                padding: .3rem 0.7rem;
            }
        }
    }
    .stringcolor-wrapper{
        label{
            margin: 0 10px 10px 0;
        }
    }
}
@media only screen and (max-width: 320px){
    .template-view{
        .template-buttons{
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            button:nth-child(1){
                margin: 0 0 10px 0;
            }
            button, .btn{
                padding: .3rem 0.7rem;
            }
        }
        .file-views ul li a{
            font-size: 10px;
        }
    }
    .uploads{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        .upload-file{
            width: 49%;
            margin: 0 0 0;
        }
            .btn-upload{
            font-size: 9px!important;
            padding: .3rem 0.4rem!important;
            max-width: 140px;
            i{
                font-size: 12px!important;
                line-height: 14px!important;
                margin: 0 2px 0 0;
            }
        }
    }
    .stringcolor-wrapper{
        label{
            margin: 0 5px 0 0;
        }
    }
    .template-view{
    .mockup-view-wrapper{
        display: none;
        &.mockup-view-wrapper-visible{
            display: flex;
        }
        margin: 10px auto 0;
        .mockup-view{
            display: inline-block;
            margin: 0 0 10px;
            width: calc((100% - 10px)*1/2)!important;
            &:nth-child(4n+1){
//                margin: 0 0 0 0!important;
            }
             &:nth-child(odd){
                    margin: 0 10px 10px 0!important;
            }
             &:nth-child(even){
                    margin: 0 0 10px 0!important;
            }
        }

    }
    }
    /////////generator
    .shipping-wrapper{
        .shipping-country{
            max-width: 100px;
            min-width: 100px;
            p{ font-size: 13px;}
        }
        .shipping-cost{
            p{
                font-size: 13px;
            }
        }
    }
    
}
@media only screen and (max-height: 736px){

}